<div th:fragment="sidebar">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="/admin/dashboard/show">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
        </a>
        <a class="nav-link" href="/admin/user/show">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            User
        </a>
        <a class="nav-link" href="/admin/course/show">
            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
            Course
        </a>
        <a class="nav-link" href="/admin/role/show">
            <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
            Role
        </a>
        <a class="nav-link" href="/admin/lesson/show">
            <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
            Lesson
        </a>
    </div>
</div>
